@font-face {
  font-family: 'YS Text';
  src: local(''), url('../fonts/YS-regular.woff') format('woff'),
    url('../fonts/YS-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: local(''), url('../fonts/YS-light.woff') format('woff'),
    url('../fonts/YS-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: local(''), url('../fonts/YS-medium.woff') format('woff'),
    url('../fonts/YS-medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YS Text';
  src: local(''), url('../fonts/YS-bold.woff') format('woff'),
    url('../fonts/YS-bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
